/* You can add global styles to this file, and also import other style files */

/* common */

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header */

.navbar {
  text-align: center;
  background: #F9C948;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.navbar .title {
  color: white;
  margin: 0.5em 0;
}
  
.logo {
  margin: 1em 0;
  display: inline-block;
}

/* course */
    
.course {
  margin: 1em 0.5em;
}
  
.course .card {
  box-shadow: 2px 2px 10px #DDDDDD;
}

.card .card-block {
  padding: 0.5em;
}

.footerbar {
  background: #F9C948;
  color: white;
  padding: 1em;
  box-sizing: border-box;
  text-align: center
}

.card .responsive-img {
  height: auto;
  max-width: 100%;
}